# Java class files
*.class

# Mac OS X finder
.DS_Store

# Vim swap files
*~

# Gradle files
.gradle
/build
*/build
gradle-app.setting

# Intellij IDEA (see https://intellij-support.jetbrains.com/entries/23393067)
/.idea
*.iml
*.iml.bak

# Jimple dumps
*.jimple

# Corral output
corral_out*

# output
*.dot
*.xml
*.png

# Temporal files
TODO
output.bpl
